.NavBar-container {
  background-color: #f4f5f5;
  padding: auto 2pm;
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  padding:0 1rem;
  align-items: center;
}
.tag-list{
  display: flex;
  flex-wrap: wrap;
  height: auto;
  padding:0;
  margin:0;
}
.NavBar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 1rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.1rem;
  color: #8a9aa9;
  padding: 0.83rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
a {
  text-decoration: none;
  cursor: pointer;
  color: #909090;
}
a:hover{
  color:#1e80ff;
  opacity: 0.8;
}
.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  padding:0 1rem;
  text-decoration: none;
}
@media(max-width:600px){
  .NavBar-list{
    margin-right: .83rem;
    margin-bottom: .75rem; 
  }
}

.NavBar-link:hover {
  color:#1e80ff;
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
