.NavBar-container {
  background-color: #f4f5f5;
  padding: var(--s) var(--m);
}

.NavBar-title {
  color: var(--white);
  font-size: 20px;
}

.NavBar-linkContainer {
  margin-left: var(--l);
  padding:0 1rem;
  align-items: center;
}
.tag-list{
  display: flex;
  flex-wrap: wrap;
  height: auto;
}
.NavBar-list{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  font-size: 1.1rem;
  color: #8a9aa9;
  padding: 0 .83rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
}
.NavBar-link,
.NavBar-link:visited {
  color: var(--white);
  opacity: 0.6;
  padding:0 1rem;
  text-decoration: none;
}

.NavBar-link:hover {
  color:#1e80ff;
  opacity: 0.8;
}

.NavBar-link + .NavBar-link {
  margin-left: var(--m);
}
